@font-face {
  font-family:'avenir';
  src:local('fonts/AvenirNextLTPro-Regular.otf');
}


header{
  font-family: 'avenir';
  height: 95px;
  background: #9B9B8C;
  color: white;
}

.phead{
  font-size: 25px;
  position: relative;
  top: 55px;
  left: 40px;
  width: 500px;
}

#albums{
  /*border: 1px solid black;*/
  height: 200px;
  overflow-x: scroll;
  margin: 0 auto;
}

.covers{
  position: relative;
  text-align: center;
  /*border: 1px solid black;*/
  top: 10px;
  margin: 10px;
  height: 150px;
  width: 150px;
}

#cover_art0{
  margin-left: 200px;
  width: 0px;
  float: left;
  padding-left: 10px
}

#cover_art1{
  width: 0px;
  float: left;
  position: relative;
  left: 200px;
}

#cover_art2{
  width: 0px;
  float: left;
  position: relative;
  left: 400px;
}

#cover_art3{
  width: 0px;
  float: left;
  position: relative;
  left: 600px;
}

#cover_art4{
  width: 0px;
  float: left;
  position: relative;
  left: 800px;
}

.select {
  border: 2px solid black;
  width: 850px;
  height: 125px;
  position: relative;
  left: 275px;
  top: 25px;
  background: #EEEEEE;
}

button {
  font-family: 'avenir';
  border: 1px solid black;
  position: relative;
  top: 45px;
  left: 275px;
  width: 180px;
  height: 40px;
  border-radius: 4px;
  color: white;
  text-align: center;
  background: #353526;
}

.foot{
  font-family: 'avenir';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  color: white;
  background: #686859;
}

#copy{
  position: relative;
  bottom: 10px;
  padding-left: 48px;
  color: white;
}
